{
    "name": "Yon",
    "common": {
        "title": "Yon",
        "footer": "Made By YonYouFED. © 2014 - 2016",
        "home": "tinper",
        "homeUrl": "http://tinper.org/",
        "navbars": []
    },
    "options": {
        "markdown": {
            "menuLevel": 2
        }
    },
    "pages": [{
        "name": "index",
        "title": "开始",
        "banner": {
            "title": "Yon",
            "description": "开始"
        },
        "content": "./README.md"
    }, {
        "name": "progress",
        "title": "进度",
        "banner": {
            "title": "Yon",
            "description": "进度"
        },
        "content": "./progress.md"
    }, {
        "name": "release",
        "title": "版本",
        "banner": {
            "title": "Yon",
            "description": "版本"
        },
        "content": "./release.md"
    }]
}
